.container
  .row.u-margin-top-lg.text-left
    %h1 Tracks

  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-xs
      %h4 Public Sector - Leading Transformation
      %p Discover how to create an environment that enables your global Public Sector and Regulated Industry workforce to innovate, survive, and succeed @ speed. Learn how teams are streamlining development and designing new paradigms to deliver value faster without compromising security or compliance.
    .col-md-5.col-md-offset-1
      = image_tag "/images/events/gitlab-commit/data-panel.jpg", loading: "lazy"

  .row.u-margin-bottom-xs
