---
title: Expertise on Retainer
suppress_header: true
description: "Purchase services now, determine scope later."
canonical_path: "/services/advisory/expertise-on-retainer/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Expertise on Retainer
    %h3.headline-subtitle
      Drive your Company's ambitious DevOps goals by adding Premium GitLab Technical Account Manager. 

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Expertise on Retainer
        %p.service-para
        Customers who are transitioning to GitLab or are planning for growth may know they need guidance on their journey. But sometimes it is difficult to know exactly what you need help with. The path you're on is emergent - it hasn't been done before in your context. GitLab's Expertise on Retainer offering adds a GitLab Technical Account Manager to your extended team to help you plan for success. 
     
        %h2 Who is this service for?
        %p.service-para
        %ul
          %li Customers who need technical guidance on their journey with GitLab, but might not know specifically what topics yet.  
          %li Customers who are looking for flexibility in the delivery approach.   
          %li Customers who are looking to transfer knowledge from GitLab Technical Account Managers.  

        %h2 What's included?
        %p.service-para
        We can help on a wide range of topics. For smaller engagements, we can only provide guidance. See the below (non-exhaustive) list of topics of which we we can provide guidance.
        %ol
          %li Guided Journeys
          %li Usage Patterns
          %li Release Readiness
          %li Scaling your organization and GitLab
          %li Software Factory Best Practice 
        
        %h2 Scheduling Approach
        %p.service-para

        %h3 Recurring Periodic Based - "Expertise on Retainer"
        %p.service-para
        After we close on the engagement paperwork, we will schedule time to learn what your top priority efforts are related to GitLab to match the resource with the appropriate skillset. That resource will be engaged with you for 8 hours per week over the 1 year duration of the engagement (48 total days). The GitLab resource will work the same day each week to provide predictability of schedule.  

= partial "includes/services-contact-form"

